<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Friends.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1413</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1439</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1449</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2078</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2098</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2127</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2129</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2171</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2179</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2180</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2196</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2228</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2258</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2275</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2293</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2297</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2310</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2314</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2331</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2337</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2410</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2411</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2425</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2427</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2558</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2608</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2637</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2654</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2690</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2711</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2720</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2728</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2805</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2841</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2858</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2896</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2949</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3037</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3039</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3054</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3056</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3192</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3209</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3350</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3367</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3520</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3583</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_3670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
